@{
    ViewData["Title"] = "Confirmação de compra";
}
<div class="text-center">
    <h3>Confirmar compra</h3>
</div>

<a class="btn btn-primary" role="button">Confirmar</a>
<a class="btn btn-primary" role="button">Voltar</a>